#menu {
    position: fixed;
    top: 0;
    grid-gap: 1rem;
    padding: 1rem;
    display: grid;
    z-index: 9999999999999999;
    height: 100vh;
    background-color: var(--titles-color);
    right: 0;
    transition: 0.4s ease;
    width: clamp(200px, 90%, 300px);
    grid-auto-rows: min-content;
    place-items: center;
}

#menu a {
    align-content: center
}

#menu a i,
.contactos i,
.header nav {
    align-self: center
}

#menu a {
    color: #fff
}

#menu .btn-menu {
    position: absolute;
    background: 0 0;
    font-size: var(--icon-font-size);
    color: #fff;
    transform: translate(calc(-100% - var(--icon-right)), var(--icon-top));
    border: none
}

#menu a {
    grid-template-columns: 1.25rem auto;
    grid-gap: .5rem;
    align-items: center;
    font-size: 1.35rem
}

#menu a i {
    font-size: 1rem
}

#menu.hide {
    transform: translateX(100%)
}

#menu:not(.hide) {
    box-shadow: 0 0 15px #000
}