/*! *** Pantallas horizontales ****/
@media screen and (min-width:1400px) and (min-height:900px) {
    :root {
        /* Header */
        --header-height: 5rem;
        --header-brandname-font-size: 3rem;
        --header-logo-size: 3rem;
        --header-navbar-display: grid;

        /* Portada */
        --hero-font-size: 7rem;
        --pad-hero-title: 1rem 10rem;
        --hero-cta-font-size: 2.53rem;

        /* Menu */
        --icon-font-size: 1.75rem;
        --icon-top: 0.25rem;
        --icon-right: 0.5rem;
        --menu-display: none;

        /*! Slider horizontal **/
        --size: 450px;
        --donut-title-font-size: 4rem;
        --donut-title-top-position: 8rem;
        --slider-top-position: calc((100vh - var(--size)) / 2);
        --img-margin: 0 calc((50vw - 450px) / 3);

        /*! Sabores */
        --flavors-display: grid;

        /** Descripciones **/
        --description-rows: 100vh;
        --product-columns: repeat(2, 1fr);
        --description-shadow: none;
        --radius: 50px;
        --description-top-position: 0px;
        --description-title-font-size: 3rem;
        --description-z-index: 3;
        --description-pad: 2rem;
        --description-font-size: 1.75rem;
        --category-font-size: 1.25rem;
        --category-right-position: auto;
        --category-top-position: 75vh;
        --category-right-position: -150px;
        --description-cta-font-size: 1.75rem;
        --description-cta-pad: 1rem 2rem;
        --price-size: 5rem;
        --price-icon-font-size: 5rem;
        --price-font-size: 1.75rem;


        --contactos-gap: 0.5rem;
        --contactos-num-font-size: 0.85rem;

        --rrss-gap: 0.5rem;
        --rrss-pad: 0.5rem 0;

        --location-height: calc(100dvh - 23.25rem);

        /** Trapecio */
        --trapecio-display: block;
        --triangle-width: 200px;

        /*! NAVBAR BUTTONS*/
        /* Visibilidad de los botones  Anterior|Siguiente */
        --navbar-display: grid;
        /* Tamaño de fuente de los botones */
        --navbar-buttons-font-size: 1rem;
        /* Distancia del borde inferior */
        --navbar-buttons-bottom-position: 10vh;
        /* Distancia del borde derecho */
        --navbar-buttons-right-position: 1rem;

        /** Footer */
        --footer-pad: calc(var(--header-height) + 0.5rem) 1rem;
        --footer-box-title-size: 1rem;
        --footer-contactos-tel-size: 1rem;
        --footer-created-by-font-size: 1.25rem;
        --footer-created-by-pad: 0.5rem 0;
    }


}

@media screen and (max-width:720px) and (max-height:820px) {
    #portada h1 {
        color: orange;
        border: solid 1px orange;
    }


    :root {
        /*! Header */
        /* Altura del header*/
        --header-height: 4rem;
        /* Tamaño de fuente del header */
        --header-brandname-font-size: 1.75rem;
        /* Tamaño de fuente del header*/
        --header-logo-size: 2rem;
        /* Visibilidad del menu del header */
        --header-navbar-display: none;


        /*! Portada */
        /* Tamaño de fuente de la portada */
        --hero-font-size: 3.5rem;
        /*Padding del titulo de portada*/
        --pad-hero-title: 1rem 1.5rem;

        /*Tamaño de fuente del CTA*/
        --hero-cta-font-size: 1.5rem;
        /* Padding del CTA */
        --hero-cta-pad: 1rem 2rem;


        /*! Menu */
        /* Visibilidad del menu*/
        --menu-display: grid;
        /* Tamaño de fuente del icono hamburguesa */
        --icon-font-size: 1.75rem;
        /* Posicion del icono respeto del top */
        --icon-top: 0.45rem;
        /* Posicion del icono respeto del right */
        --icon-right: 0.5rem;

        /*! TRAPECIO*/
        /* Visibilidad del trapecio*/
        --trapecio-display: none;
        /* Tamaño del triangulo */
        --triangle-width: 200px;

        /*! NAVBAR BUTTONS*/
        /* Visibilidad de los botones  Anterior|Siguiente */
        --navbar-display: none;
        /* Tamaño de fuente de los botones */
        --navbar-buttons-font-size: 1rem;
        /* Distancia del borde inferior */
        --navbar-buttons-bottom-position: 1rem;
        /* Distancia del borde derecho */
        --navbar-buttons-right-position: 1rem;

        /*! Slider horizontal*/
        /* Posicion del titulo respecto del borde superior */
        --donut-title-top-position: 4rem;
        /* Posicion del slider respecto del borde superior */
        --slider-top-position: 8rem;
        --img-margin: 0 auto;
        --size: 35vh;

        /*! Descripciones */
        --donut-title-font-size: 2rem;

        --description-rows: 60vh 40vh;
        --description-columns: 1fr;
        --description-height: 50vh;
        --description-radius: 50px;
        --description-top-position: -70px;
        --description-pad: 1rem;
        --description-title-font-size: 1.75rem;
        --description-font-size: 1rem;
        --description-shadow: 0 0 15px -5px #0005;
        --category-font-size: 0.6rem;
        --category-right-position: 30px;
        --description-cta-pad: 0.5rem 1rem;
        --description-cta-font-size: 1.25rem;
        --price-size: 3.25rem;
        --price-icon-font-size: 3.25rem;
        --price-font-size: 1.1rem;

        /* Footer */
        --footer-pad: calc(var(--header-height) + 0.5rem) 1rem;
        --footer-box-title-size: 1rem;
        --footer-contactos-tel-size: 1rem;

        --contactos-gap: 0.5rem;
        --contactos-num-font-size: 0.85rem;

        --rrss-gap: 0.5rem;
        --rrss-pad: 0.5rem 0;

        --location-height: calc(100dvh - 23.25rem);
    }
}

@media screen and (max-width:620px) and (max-height:820px) {
    #portada h1 {
        color: orange;
        border: solid 1px orange;
    }


    :root {
        /*! Header */
        /* Altura del header*/
        --header-height: 4rem;
        /* Tamaño de fuente del header */
        --header-brandname-font-size: 1.75rem;
        /* Tamaño de fuente del header*/
        --header-logo-size: 2rem;
        /* Visibilidad del menu del header */
        --header-navbar-display: none;


        /*! Portada */
        /* Tamaño de fuente de la portada */
        --hero-font-size: 3.5rem;
        /*Padding del titulo de portada*/
        --pad-hero-title: 1rem 1.5rem;

        /*Tamaño de fuente del CTA*/
        --hero-cta-font-size: 1.5rem;
        /* Padding del CTA */
        --hero-cta-pad: 1rem 2rem;


        /*! Menu */
        /* Visibilidad del menu*/
        --menu-display: grid;
        /* Tamaño de fuente del icono hamburguesa */
        --icon-font-size: 1.75rem;
        /* Posicion del icono respeto del top */
        --icon-top: 0.45rem;
        /* Posicion del icono respeto del right */
        --icon-right: 0.5rem;

        /*! TRAPECIO*/
        /* Visibilidad del trapecio*/
        --trapecio-display: none;
        /* Tamaño del triangulo */
        --triangle-width: 200px;

        /*! NAVBAR BUTTONS*/
        /* Visibilidad de los botones  Anterior|Siguiente */
        --navbar-display: none;
        /* Tamaño de fuente de los botones */
        --navbar-buttons-font-size: 1rem;
        /* Distancia del borde inferior */
        --navbar-buttons-bottom-position: 1rem;
        /* Distancia del borde derecho */
        --navbar-buttons-right-position: 1rem;

        /*! Slider horizontal*/
        /* Posicion del titulo respecto del borde superior */
        --donut-title-top-position: 4rem;
        /* Posicion del slider respecto del borde superior */
        --slider-top-position: 8rem;
        --img-margin: 0 auto;
        --size: 35vh;

        /*! Descripciones */
        --donut-title-font-size: 2rem;

        --description-rows: 60vh 40vh;
        --description-columns: 1fr;
        --description-height: 50vh;
        --description-radius: 50px;
        --description-top-position: -70px;
        --description-pad: 1rem;
        --description-title-font-size: 1.75rem;
        --description-font-size: 1rem;
        --description-shadow: 0 0 15px -5px #0005;
        --category-font-size: 0.6rem;
        --category-right-position: 30px;
        --description-cta-pad: 0.5rem 1rem;
        --description-cta-font-size: 1.25rem;
        --price-size: 3.25rem;
        --price-icon-font-size: 3.25rem;
        --price-font-size: 1.1rem;

        /* Footer */
        --footer-pad: calc(var(--header-height) + 0.5rem) 1rem;
        --footer-box-title-size: 1rem;
        --footer-contactos-tel-size: 1rem;

        --contactos-gap: 0.5rem;
        --contactos-num-font-size: 0.85rem;

        --rrss-gap: 0.5rem;
        --rrss-pad: 0.5rem 0;

        --location-height: calc(100dvh - 23.25rem);
    }
}

@media screen and (max-width:520px) and (max-height:820px) {
    #portada h1 {
        color: orange;
        border: solid 1px orange;
    }


    :root {
        /*! Header */
        /* Altura del header*/
        --header-height: 4rem;
        /* Tamaño de fuente del header */
        --header-brandname-font-size: 1.75rem;
        /* Tamaño de fuente del header*/
        --header-logo-size: 2rem;
        /* Visibilidad del menu del header */
        --header-navbar-display: none;


        /*! Portada */
        /* Tamaño de fuente de la portada */
        --hero-font-size: 3.5rem;
        /*Padding del titulo de portada*/
        --pad-hero-title: 1rem 1.5rem;

        /*Tamaño de fuente del CTA*/
        --hero-cta-font-size: 1.5rem;
        /* Padding del CTA */
        --hero-cta-pad: 1rem 2rem;


        /*! Menu */
        /* Visibilidad del menu*/
        --menu-display: grid;
        /* Tamaño de fuente del icono hamburguesa */
        --icon-font-size: 1.75rem;
        /* Posicion del icono respeto del top */
        --icon-top: 0.45rem;
        /* Posicion del icono respeto del right */
        --icon-right: 0.5rem;

        /*! TRAPECIO*/
        /* Visibilidad del trapecio*/
        --trapecio-display: none;
        /* Tamaño del triangulo */
        --triangle-width: 200px;

        /*! NAVBAR BUTTONS*/
        /* Visibilidad de los botones  Anterior|Siguiente */
        --navbar-display: none;
        /* Tamaño de fuente de los botones */
        --navbar-buttons-font-size: 1rem;
        /* Distancia del borde inferior */
        --navbar-buttons-bottom-position: 1rem;
        /* Distancia del borde derecho */
        --navbar-buttons-right-position: 1rem;

        /*! Slider horizontal*/
        /* Posicion del titulo respecto del borde superior */
        --donut-title-top-position: 4rem;
        /* Posicion del slider respecto del borde superior */
        --slider-top-position: 8rem;
        --img-margin: 0 auto;
        --size: 35vh;

        /*! Descripciones */
        --donut-title-font-size: 2rem;

        --description-rows: 60vh 40vh;
        --description-columns: 1fr;
        --description-height: 50vh;
        --description-radius: 50px;
        --description-top-position: -70px;
        --description-pad: 1rem;
        --description-title-font-size: 1.75rem;
        --description-font-size: 1rem;
        --description-shadow: 0 0 15px -5px #0005;
        --category-font-size: 0.6rem;
        --category-right-position: 30px;
        --description-cta-pad: 0.5rem 1rem;
        --description-cta-font-size: 1.25rem;
        --price-size: 3.25rem;
        --price-icon-font-size: 3.25rem;
        --price-font-size: 1.1rem;

        /* Footer */
        --footer-pad: calc(var(--header-height) + 0.5rem) 1rem;
        --footer-box-title-size: 1rem;
        --footer-contactos-tel-size: 1rem;

        --contactos-gap: 0.5rem;
        --contactos-num-font-size: 0.85rem;

        --rrss-gap: 0.5rem;
        --rrss-pad: 0.5rem 0;

        --location-height: calc(100dvh - 23.25rem);
    }
}

/*!-------------------*/
/*!  WIDTH 380 PX */
/*!-----------------*/
@media screen and (max-width:320px) and (max-height:820px) {
    #portada h1 {
        color: green;
        border: solid 1px blue;
    }
}

@media screen and (max-width:320px) and (max-height:720px) {
    #portada h1 {
        color: green;
        border: solid 1px blue;
    }

    :root {
        /*! Header */
        /* Altura del header*/
        --header-height: 4rem;
        /* Tamaño de fuente del header */
        --header-brandname-font-size: 1.5rem;
        /* Tamaño de fuente del header*/
        --header-logo-size: 1.75rem;
        /* Visibilidad del menu del header */
        --header-navbar-display: none;


        /*! Portada */
        /* Tamaño de fuente de la portada */
        --hero-font-size: 2.75rem;
        /*Padding del titulo de portada*/
        --pad-hero-title: 1rem 1.5rem;

        /*Tamaño de fuente del CTA*/
        --hero-cta-font-size: 1.25rem;
        /* Padding del CTA */
        --hero-cta-pad: 1rem 1.5rem;


        /*! Menu */
        /* Visibilidad del menu*/
        --menu-display: grid;
        /* Tamaño de fuente del icono hamburguesa */
        --icon-font-size: 1.75rem;
        /* Posicion del icono respeto del top */
        --icon-top: 0.45rem;
        /* Posicion del icono respeto del right */
        --icon-right: 0.5rem;

        /*! TRAPECIO*/
        /* Visibilidad del trapecio*/
        --trapecio-display: none;
        /* Tamaño del triangulo */
        --triangle-width: 200px;

        /*! NAVBAR BUTTONS*/
        /* Visibilidad de los botones  Anterior|Siguiente */
        --navbar-display: none;
        /* Tamaño de fuente de los botones */
        --navbar-buttons-font-size: 1rem;
        /* Distancia del borde inferior */
        --navbar-buttons-bottom-position: 1rem;
        /* Distancia del borde derecho */
        --navbar-buttons-right-position: 1rem;

        /*! Slider horizontal*/
        /* Posicion del titulo respecto del borde superior */
        --donut-title-top-position: 4rem;
        /* Posicion del slider respecto del borde superior */
        --slider-top-position: 8rem;
        --img-margin: 0 auto;
        --size: 35vh;

        /*! Descripciones */
        --donut-title-font-size: 2rem;

        --description-rows: 60vh 40vh;
        --description-columns: 1fr;
        --description-height: 50vh;
        --description-radius: 50px;
        --description-top-position: -70px;
        --description-pad: 1rem;
        --description-title-font-size: 1.75rem;
        --description-font-size: 1rem;
        --description-shadow: 0 0 15px -5px #0005;
        --category-font-size: 0.6rem;
        --category-right-position: 30px;
        --description-cta-pad: 0.5rem 1rem;
        --description-cta-font-size: 1.25rem;
        --price-size: 3.25rem;
        --price-icon-font-size: 3.25rem;
        --price-font-size: 1.1rem;

        /* Footer */
        --footer-pad: calc(var(--header-height) + 0.5rem) 1rem;
        --footer-box-title-size: 1rem;
        --footer-contactos-tel-size: 1rem;

        --contactos-gap: 0.5rem;
        --contactos-num-font-size: 0.85rem;

        --rrss-gap: 0.5rem;
        --rrss-pad: 0.5rem 0;

        --location-height: calc(100dvh - 23.25rem);
    }

}

@media screen and (max-width:320px) and (max-height:620px) {
    #portada h1 {
        color: red;
        border: solid 1px blue;
    }

    :root {
        /*! Header */
        /* Altura del header*/
        --header-height: 3.5rem;
        /* Tamaño de fuente del header */
        --header-brandname-font-size: 1.5rem;
        /* Tamaño de fuente del header*/
        --header-logo-size: 1.75rem;
        /* Visibilidad del menu del header */
        --header-navbar-display: none;


        /*! Portada */
        /* Tamaño de fuente de la portada */
        --hero-font-size: 2.75rem;
        /*Padding del titulo de portada*/
        --pad-hero-title: 1rem 1.5rem;

        /*Tamaño de fuente del CTA*/
        --hero-cta-font-size: 1.25rem;
        /* Padding del CTA */
        --hero-cta-pad: 1rem 1.5rem;


        /*! Menu */
        /* Visibilidad del menu*/
        --menu-display: grid;
        /* Tamaño de fuente del icono hamburguesa */
        --icon-font-size: 1.75rem;
        /* Posicion del icono respeto del top */
        --icon-top: 0.45rem;
        /* Posicion del icono respeto del right */
        --icon-right: 0.5rem;

        /*! TRAPECIO*/
        /* Visibilidad del trapecio*/
        --trapecio-display: none;
        /* Tamaño del triangulo */
        --triangle-width: 200px;

        /*! NAVBAR BUTTONS*/
        /* Visibilidad de los botones  Anterior|Siguiente */
        --navbar-display: none;
        /* Tamaño de fuente de los botones */
        --navbar-buttons-font-size: 1rem;
        /* Distancia del borde inferior */
        --navbar-buttons-bottom-position: 1rem;
        /* Distancia del borde derecho */
        --navbar-buttons-right-position: 1rem;

        /*! Slider horizontal*/
        /* Posicion del titulo respecto del borde superior */
        --donut-title-top-position: 4rem;
        /* Posicion del slider respecto del borde superior */
        --slider-top-position: 7rem;
        --img-margin: 0 auto;
        --size: 33vh;

        /*! Descripciones */
        --donut-title-font-size: 2rem;

        --description-rows: 60vh 40vh;
        --description-columns: 1fr;
        --description-height: 50vh;
        --description-radius: 40px;
        --description-top-position: -70px;
        --description-pad: 1rem;
        --description-title-font-size: 1.5rem;
        --description-font-size: 1rem;
        --description-shadow: 0 0 15px -5px #0005;
        --category-font-size: 0.6rem;
        --category-right-position: 30px;
        --description-cta-pad: 0.5rem 1rem;
        --description-cta-font-size: 1.2rem;
        --price-size: 3.25rem;
        --price-icon-font-size: 3.25rem;
        --price-font-size: 1.1rem;

        /* Footer */
        --footer-pad: calc(var(--header-height) + 0.5rem) 1rem;
        --footer-box-title-size: 1rem;
        --footer-contactos-tel-size: 1rem;

        --contactos-gap: 0.5rem;
        --contactos-num-font-size: 0.85rem;

        --rrss-gap: 0.5rem;
        --rrss-pad: 0.5rem 0;

        --location-height: calc(100dvh - 23.25rem);
    }

}

@media screen and (max-width:320px) and (max-height:520px) {
    #portada h1 {
        color: green;
        border: solid 1px blue;
    }

    :root {
        /*! Header */
        /* Altura del header*/
        --header-height: 3.5rem;
        /* Tamaño de fuente del header */
        --header-brandname-font-size: 1.5rem;
        /* Tamaño de fuente del header*/
        --header-logo-size: 1.75rem;
        /* Visibilidad del menu del header */
        --header-navbar-display: none;


        /*! Portada */
        /* Tamaño de fuente de la portada */
        --hero-font-size: 2.75rem;
        /*Padding del titulo de portada*/
        --pad-hero-title: 1rem 1.5rem;

        /*Tamaño de fuente del CTA*/
        --hero-cta-font-size: 1.25rem;
        /* Padding del CTA */
        --hero-cta-pad: 1rem 1.5rem;


        /*! Menu */
        /* Visibilidad del menu*/
        --menu-display: grid;
        /* Tamaño de fuente del icono hamburguesa */
        --icon-font-size: 1.75rem;
        /* Posicion del icono respeto del top */
        --icon-top: 0.45rem;
        /* Posicion del icono respeto del right */
        --icon-right: 0.5rem;

        /*! TRAPECIO*/
        /* Visibilidad del trapecio*/
        --trapecio-display: none;
        /* Tamaño del triangulo */
        --triangle-width: 200px;

        /*! NAVBAR BUTTONS*/
        /* Visibilidad de los botones  Anterior|Siguiente */
        --navbar-display: none;
        /* Tamaño de fuente de los botones */
        --navbar-buttons-font-size: 1rem;
        /* Distancia del borde inferior */
        --navbar-buttons-bottom-position: 1rem;
        /* Distancia del borde derecho */
        --navbar-buttons-right-position: 1rem;

        /*! Slider horizontal*/
        /* Posicion del titulo respecto del borde superior */
        --donut-title-top-position: 4rem;
        /* Posicion del slider respecto del borde superior */
        --slider-top-position: 7rem;
        --img-margin: 0 auto;
        --size: 33vh;

        /*! Descripciones */
        --donut-title-font-size: 2rem;

        --description-rows: 60vh 40vh;
        --description-columns: 1fr;
        --description-height: 50vh;
        --description-radius: 40px;
        --description-top-position: -60px;
        --description-title-font-size: 1.25rem;
        --description-pad: 1rem;
        --description-font-size: 0.9rem;
        --description-shadow: 0 0 15px -5px #0005;
        --category-font-size: 0.6rem;
        --category-right-position: 30px;
        --description-cta-pad: 0.5rem 1rem;
        --description-cta-font-size: 1.1rem;
        --price-size: 3.25rem;
        --price-icon-font-size: 3.25rem;
        --price-font-size: 1.1rem;

        /* Footer */
        --footer-pad: calc(var(--header-height) + 0.5rem) 1rem;
        --footer-box-title-size: 1rem;
        --footer-contactos-tel-size: 1rem;

        --contactos-gap: 0.5rem;
        --contactos-num-font-size: 0.85rem;

        --rrss-gap: 0.5rem;
        --rrss-pad: 0.5rem 0;

        --location-height: calc(100dvh - 23.25rem);
    }
}

/*!-------------------*/
/*!  WIDTH 280 PX */
/*!-----------------*/
@media screen and (max-width:280px) and (max-height:820px) {
    #portada h1 {
        color: green;
        border: solid 1px blue;
        position: relative;
    }



    :root {
        /*! Header */
        /* Altura del header*/
        --header-height: 3.5rem;
        /* Tamaño de fuente del header */
        --header-brandname-font-size: 1.5rem;
        /* Tamaño de fuente del header*/
        --header-logo-size: 1.75rem;
        /* Visibilidad del menu del header */
        --header-navbar-display: none;


        /*! Portada */
        /* Tamaño de fuente de la portada */
        --hero-font-size: 2.75rem;
        /*Padding del titulo de portada*/
        --pad-hero-title: 1rem;

        /*Tamaño de fuente del CTA*/
        --hero-cta-font-size: 1.5rem;
        /* Padding del CTA */
        --hero-cta-pad: 1rem 1.5rem;

        /*! Menu */
        --menu-display: grid;
        --icon-font-size: 1.75rem;
        --icon-top: 0.45rem;
        --icon-right: 0.5rem;

        /*! TRAPECIO*/
        --trapecio-display: none;

        /*! NAVBAR BUTTONS*/
        --navbar-display: none;

        /*! Slider horizontal*/
        /* Posicion del titulo respecto del borde superior */
        /* Posicion del slider respecto del borde superior */
        --img-margin: 0 auto;
        --size: 33vh;

        /*! Descripciones */
        --donut-title-top-position: 12vh;
        --donut-title-font-size: 2rem;
        --slider-top-position: 20vh;

        --description-rows: 60vh 40vh;
        --description-columns: 1fr;
        --description-height: 50vh;
        --description-radius: 40px;
        --description-top-position: -80px;
        --description-title-font-size: 1.5rem;
        --description-pad: 1rem;
        --description-font-size: 1rem;
        --description-shadow: 0 0 15px -5px #0005;
        --category-font-size: 0.6rem;
        --category-right-position: 30px;
        --description-cta-pad: 0.5rem 1rem;
        --description-cta-font-size: 1.1rem;
        --price-size: 3.25rem;
        --price-icon-font-size: 3.25rem;
        --price-font-size: 1.1rem;

        /* Footer */
        --footer-pad: calc(var(--header-height) + 0.5rem) 1rem;
        --footer-box-title-size: 1rem;
        --footer-contactos-tel-size: 1rem;

        --contactos-gap: 0.5rem;
        --contactos-num-font-size: 0.85rem;

        --rrss-gap: 0.5rem;
        --rrss-pad: 0.5rem 0;

        --location-height: calc(100dvh - 23.25rem);
    }
}

@media screen and (max-width:280px) and (max-height:720px) {
    #portada h1 {
        color: green;
        border: solid 1px red;
    }

    :root {
        /*! Header */
        /* Altura del header*/
        --header-height: 3.5rem;
        /* Tamaño de fuente del header */
        --header-brandname-font-size: 1.5rem;
        /* Tamaño de fuente del header*/
        --header-logo-size: 1.75rem;
        /* Visibilidad del menu del header */
        --header-navbar-display: none;


        /*! Portada */
        /* Tamaño de fuente de la portada */
        --hero-font-size: 2.5rem;
        /*Padding del titulo de portada*/
        --pad-hero-title: 1rem 1.5rem;

        /*Tamaño de fuente del CTA*/
        --hero-cta-font-size: 1.2rem;
        /* Padding del CTA */
        --hero-cta-pad: 1rem 1.5rem;


        /*! Menu */
        /* Visibilidad del menu*/
        --menu-display: grid;
        /* Tamaño de fuente del icono hamburguesa */
        --icon-font-size: 1.75rem;
        /* Posicion del icono respeto del top */
        --icon-top: 0.45rem;
        /* Posicion del icono respeto del right */
        --icon-right: 0.5rem;

        /*! TRAPECIO*/
        /* Visibilidad del trapecio*/
        --trapecio-display: none;
        /* Tamaño del triangulo */
        --triangle-width: 200px;

        /*! NAVBAR BUTTONS*/
        /* Visibilidad de los botones  Anterior|Siguiente */
        --navbar-display: none;
        /* Tamaño de fuente de los botones */
        --navbar-buttons-font-size: 1rem;
        /* Distancia del borde inferior */
        --navbar-buttons-bottom-position: 1rem;
        /* Distancia del borde derecho */
        --navbar-buttons-right-position: 1rem;

        /*! Slider horizontal*/
        /* Posicion del titulo respecto del borde superior */
        --donut-title-top-position: 12vh;
        /* Posicion del slider respecto del borde superior */
        --slider-top-position: 20vh;
        --img-margin: 0 auto;
        --size: 33vh;

        /*! Descripciones */
        --donut-title-font-size: 2rem;

        --description-rows: 60vh 40vh;
        --description-columns: 1fr;
        --description-height: 50vh;
        --description-radius: 30px;
        --description-top-position: -60px;
        --description-title-font-size: 1.25rem;
        --description-pad: 1rem;
        --description-font-size: 0.9rem;
        --description-shadow: 0 0 15px -5px #0005;
        --category-font-size: 0.6rem;
        --category-right-position: 30px;
        --description-cta-pad: 0.5rem 1rem;
        --description-cta-font-size: 1.1rem;
        --price-size: 3rem;
        --price-icon-font-size: 3rem;
        --price-font-size: 1rem;

        /* Footer */
        --footer-pad: calc(var(--header-height) + 0.5rem) 1rem;
        --footer-box-title-size: 1rem;
        --footer-contactos-tel-size: 1rem;

        --contactos-gap: 0.5rem;
        --contactos-num-font-size: 0.85rem;

        --rrss-gap: 0.5rem;
        --rrss-pad: 0.5rem 0;

        --location-height: calc(100dvh - 23.25rem);
    }

}

@media screen and (max-width:280px) and (max-height:620px) {
    #portada h1 {
        color: red;
        border: solid 1px red;
    }

    :root {
        /*! Header */
        /* Altura del header*/
        --header-height: 3rem;
        /* Tamaño de fuente del header */
        --header-brandname-font-size: 1.5rem;
        /* Tamaño de fuente del header*/
        --header-logo-size: 1.75rem;
        /* Visibilidad del menu del header */
        --header-navbar-display: none;


        /*! Portada */
        /* Tamaño de fuente de la portada */
        --hero-font-size: 2.5rem;
        /*Padding del titulo de portada*/
        --pad-hero-title: 1rem 1.5rem;

        /*Tamaño de fuente del CTA*/
        --hero-cta-font-size: 1.2rem;
        /* Padding del CTA */
        --hero-cta-pad: 1rem 1.5rem;


        /*! Menu */
        /* Visibilidad del menu*/
        --menu-display: grid;
        /* Tamaño de fuente del icono hamburguesa */
        --icon-font-size: 1.75rem;
        /* Posicion del icono respeto del top */
        --icon-top: 0.15rem;
        /* Posicion del icono respeto del right */
        --icon-right: 0.5rem;

        /*! TRAPECIO*/
        /* Visibilidad del trapecio*/
        --trapecio-display: none;
        /* Tamaño del triangulo */
        --triangle-width: 200px;

        /*! NAVBAR BUTTONS*/
        /* Visibilidad de los botones  Anterior|Siguiente */
        --navbar-display: none;
        /* Tamaño de fuente de los botones */
        --navbar-buttons-font-size: 1rem;
        /* Distancia del borde inferior */
        --navbar-buttons-bottom-position: 1rem;
        /* Distancia del borde derecho */
        --navbar-buttons-right-position: 1rem;

        /*! Slider horizontal*/
        /* Posicion del titulo respecto del borde superior */
        --donut-title-top-position: 3.5rem;
        /* Posicion del slider respecto del borde superior */
        --slider-top-position: 20vh;

        --size: 33vh;
        --img-margin: 0 auto;
        /*! Descripciones */
        --donut-title-font-size: 2rem;

        --description-rows: 55vh 45vh;
        --description-columns: 1fr;
        --description-height: 50vh;
        --description-radius: 30px;
        --description-top-position: -5vh;
        --description-title-font-size: 1.2rem;
        --description-pad: 1rem;
        --description-font-size: 0.9rem;
        --description-shadow: 0 0 15px -5px #0005;
        --category-font-size: 0.6rem;
        --category-right-position: 30px;
        --description-cta-pad: 0.5rem 1rem;
        --description-cta-font-size: 1rem;
        --price-size: 3rem;
        --price-icon-font-size: 3rem;
        --price-font-size: 1rem;

        /* Footer */
        --footer-pad: calc(var(--header-height) + 0.5rem) 1rem;
        --footer-box-title-size: 1rem;
        --footer-contactos-tel-size: 1rem;

        --contactos-gap: 0.5rem;
        --contactos-num-font-size: 0.85rem;

        --rrss-gap: 0.5rem;
        --rrss-pad: 0.5rem 0;

        --location-height: calc(100dvh - 23.25rem);
    }

}

@media screen and (max-width:280px) and (max-height:520px) {
    #portada h1 {
        color: skyblue;
        border: solid 1px red;
        position: relative;
    }

    :root {
        /*! Header */
        /* Altura del header*/
        --header-height: 3rem;
        /* Tamaño de fuente del header */
        --header-brandname-font-size: 1.25rem;
        /* Tamaño de fuente del header*/
        --header-logo-size: 1.5rem;
        /* Visibilidad del menu del header */
        --header-navbar-display: none;


        /*! Portada */
        /* Tamaño de fuente de la portada */
        --hero-font-size: 2.25rem;
        /*Padding del titulo de portada*/
        --pad-hero-title: 1rem 1.5rem;

        /*Tamaño de fuente del CTA*/
        --hero-cta-font-size: 1rem;
        /* Padding del CTA */
        --hero-cta-pad: 1rem 1.5rem;


        /*! Menu */
        /* Visibilidad del menu*/
        --menu-display: grid;
        /* Tamaño de fuente del icono hamburguesa */
        --icon-font-size: 1.75rem;
        /* Posicion del icono respeto del top */
        --icon-top: 0.25rem;
        /* Posicion del icono respeto del right */
        --icon-right: 0.5rem;

        /*! TRAPECIO*/
        /* Visibilidad del trapecio*/
        --trapecio-display: none;
        /* Tamaño del triangulo */
        --triangle-width: 200px;

        /*! NAVBAR BUTTONS*/
        /* Visibilidad de los botones  Anterior|Siguiente */
        --navbar-display: none;
        /* Tamaño de fuente de los botones */
        --navbar-buttons-font-size: 1rem;
        /* Distancia del borde inferior */
        --navbar-buttons-bottom-position: 1rem;
        /* Distancia del borde derecho */
        --navbar-buttons-right-position: 1rem;

        /* Slider horizontal*/
        /* Posicion del titulo respecto del borde superior */
        /* Posicion del slider respecto del borde superior */
        --slider-top-position: 6rem;

        --size: 33vh;

        /*! Descripciones */
        --donut-title-font-size: 2rem;
        --donut-title-top-position: 3rem;

        --description-rows: 60vh 40vh;
        --description-columns: 1fr;
        --description-height: 50vh;
        --description-radius: 25px;
        --description-top-position: -50px;
        --description-title-font-size: 1.5rem;
        --description-pad: 1rem;
        --description-font-size: 0.85rem;
        --description-shadow: 0 0 15px -5px #0005;
        --category-font-size: 0.6rem;
        --category-right-position: 30px;
        --description-cta-pad: 0.5rem 1rem;
        --description-cta-font-size: 1rem;
        --price-size: 3rem;
        --price-icon-font-size: 3rem;
        --price-font-size: 1rem;

        /* Footer */
        --footer-pad: calc(var(--header-height) + 0.5rem) 1rem;
        --footer-box-title-size: 1rem;
        --footer-contactos-tel-size: 1rem;

        --contactos-gap: 0.5rem;
        --contactos-num-font-size: 0.85rem;

        --rrss-gap: 0.5rem;
        --rrss-pad: 0.5rem 0;

        --location-height: calc(100dvh - 23.25rem);
    }

}